* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0d0b14;
    color: #fcfcfc;
    font-family: sans-serif;
    
}
article {
    max-width: 800px;
    margin: 0 auto;
}
/* font-name: --> Courier */ 
p {
    line-height: 1.5;
    color: #8b8599;
}

.header {
    text-align: center;
    color: #8b8599;
    background-color: #1a1525;
    border-bottom: 2px solid #696572;
    padding: 32px;
    margin-bottom: 20px;
}

.header img {
    border-radius: 80px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    border: 3px solid #57c5c6;
    margin: 10px;
}
 
h3 {
    border-bottom: 2px solid #57c5c6;
    display: inline-block;
    padding-bottom: 10px;
    margin-top: 20px;
}

/* .about-section p {
    background-color: #1a1525;
    padding: 30px 20px;
    margin-top: 15px;
    border: 2px solid #696572;
    border-radius: 5px;
} */

.box {
    background-color: #1a1525;
    padding: 30px 20px;
    margin-top: 15px;
    border: 2px solid #696572;
    border-radius: 5px;
}


/* persian blue color code: --> #57c5c6 */
#profile-name {
    color: #57c5c6;
    font-size: 2em;
    margin-top: 10px;
}
/* #role {
    font-size: 1.2em;
    margin-top: 10px;
} */
.header h3 {
    font-size: 1.2em;
    margin-top: 10px;
}
#location {
    font-size: 1em;
    margin-top: 10px;
}

ul {
    list-style: none;
}
.job-title {
    color: #57c5c6;
}

.position-situation p {
    margin-left: 15px;
}
.position-situation {
    margin-top: 10px;
}
.position-situation:first-child {
    border-left: 4px solid #57c5c6;
    display: inline-block;
}
.job-location {
    font-family: Courier;
}
.project-section li{
    font-size: 1.2em;
    margin-bottom: 15px;
    border-bottom: 2px solid #696572;
    padding-bottom: 15px;
    transition: padding-left 0.3s ease, padding-top 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}
.project-section li:hover {
    cursor: pointer;
    padding-left: 10px;
    padding-top: 10px;
    border-radius: 5px;
    background-color: #2A1E34;
    color: #57c5c6;
}
.links-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  margin-top: 10px;
}

.link-box {
  background-color: #201a2b; 
  border-radius: 8px;
  padding: 18px 14px;
  text-align: center;
  box-shadow: 0 2px 8px rgba(87,197,198,0.05);
  border: 1.5px solid #57c5c6;
  color: #fcfcfc;
  transition: box-shadow 0.2s;
}

.link-box a {
  text-decoration: none;
  color: white;
  font-size: 1.1em;
  font-weight: 700;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  padding-left: 10pxs;
  gap: 10px;
}

.link-box:hover {
  background-color: #2A1E34;
  box-shadow: 0 4px 16px rgba(87,197,198,0.13);
  scale: 110%;
  transition: 0.3s;
}

.link-box img {
    filter: invert(0.7);
}

.email {
    color: white;
    text-decoration: none;
    padding-left: 5px;
}

.telegram-box {
  grid-column: 1;      
  grid-row: 2;         
}
.progress-bar {
    height: 10px;
    border-radius: 5px;
    margin: 12px 0;
}
